h2 {
    font-size: 26px; /* You can adjust the size as needed */
}

/* Custom style for bullet point text */
li {
  font-size: 1.75em;
  color: black; /* Set the color to black */
}

/* Flexbox and vertical centering styles */
.flexbox {
  display: flex;
}

.vcenter {
  align-items: center;
}
